<!doctype html>
</html>
<head>
    <title>
        This is a title of Index Page
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body> 

    <div class="main-container">
              {{>header}}

            <p>{{ErrorMessage}}</p>
    </div>
  

{{>footer}}
</body>
</html>